<html ng-app="scd">

<head>
    <meta charset="utf-8">
    <title>Sistema De Controle Difuso</title>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/scdCtrl.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</head>s

<body ng-controller="scdCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Variáveis</div>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Descrição</th>
                            <th>Objetivo</th>
                            <th colspan="2">Ações</th>
                        </tr>
                        <tr ng-repeat="variavel in variaveis">
                            <td>{{variavel.descricao}}</td>
                            <!-- <td>{{variavel.objetivo}}</td> -->
                            <td>
								<label>
                                	<input type="radio" name="objetivo" ng-click="salvarVariavel(variavel)" ng-model="variavel.objetivo" value="Sim"> Sim
                            	</label>	
                            </td>
                            <td class="text-center"><span class="glyphicon glyphicon-pencil" ng-click="editarVariavel(variavel)"></span></td>
                            <td class="text-center"><span class="glyphicon glyphicon-remove" ng-click="removerVariavel(variaveis, variavel)"></span></td>
                        </tr>
                    </table>

                    <div class="panel-body">
                    	<form name="formVar" style="margin: 0;">
                			<input type="text" required class="form-control" ng-model="variavel.descricao" placeholder="Nome da Variável" />  
							<div class="inputs-group col-sm-12">
			                    <div>
			                        <h3 class="panel-title">Universo</h3>
			                    </div>
			                    <div>
			                        <div class="col-sm-6">
			                            <input type="number" required class="form-control" ng-model="variavel.universo.inicio" placeholder="Início"/>
			                        </div>
			                        <div class="col-sm-6">
			                            <input type="number" required class="form-control" ng-model="variavel.universo.fim" placeholder="Fim" />
			                        </div>
			                    </div>
		                    </div>  	
		                    
		                    <button class="btn btn-primary btn-block" ng-disabled="formVar.$invalid" ng-click="adicionarVariavel(variavel)" ng-show="!editandoVariavel">Adicionar</button>
		                	<button class="btn btn-primary btn-block" ng-disabled="formVar.$invalid" ng-click="salvarVariavel(variavel)" ng-show="editandoVariavel">Salvar</button>	                	
	                   	</form>		


                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Termos: {{variavel.descricao}}</div>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Descrição</th>
                            <th>Início Suporte</th>
                            <th>Fim Suporte</th>
                            <th>Início Núcleo</th>
                            <th>Fim Núcleo</th>
                            <th colspan="2">Ações</th>
                        </tr>
                        <tr ng-repeat="termo in variavel.termos">
                            <td>{{termo.descricao}}</td>
                            <td>{{termo.suporte.inicio}}</td>
                            <td>{{termo.suporte.fim}}</td>
                            <td>{{termo.nucleo.inicio}}</td>
                            <td>{{termo.nucleo.fim}}</td>
                            <td class="text-center"><span class="glyphicon glyphicon-pencil" ng-click="editarTermo(termo)"></span></td>
                            <td class="text-center"><span class="glyphicon glyphicon-remove" ng-click="removerTermo(variavel, termo)"></span></td>
                        </tr>
                    </table>
                    <div class="panel-body">
                    	<form name="formTermo" style="margin: 0;">
							<input type="text" required class="form-control" ng-model="termo.descricao" placeholder="Valor" />

			                <div class="inputs-group col-sm-12">
			                    <div>
			                        <h3 class="panel-title">Suporte</h3>
			                    </div>
			                    <div>
			                        <div class="col-sm-6">
			                            <input type="number" required class="form-control" ng-model="termo.suporte.inicio" placeholder="Suporte Inicial"/>
			                        </div>
			                        <div class="col-sm-6">
			                            <input type="number" required class="form-control" ng-model="termo.suporte.fim" placeholder="Suporte Final"/>
			                        </div>
			                    </div>
			                </div>
			                <div class="inputs-group col-sm-12">
			                    <div>
			                        <h3 class="panel-title">Núcleo</h3>
			                    </div>
			                    <div>
			                        <div class="col-sm-6">
			                            <input type="number" required class="form-control" ng-model="termo.nucleo.inicio" placeholder="Núcleo Inicial"/>
			                        </div>
			                        <div class="col-sm-6">
			                            <input type="number" class="form-control" ng-model="termo.nucleo.fim" placeholder="Núcleo Final"/>
			                        </div>
			                    </div>
			                </div>
			                <button class="btn btn-primary btn-block" ng-disabled="formTermo.$invalid" ng-click="adicionarTermo(variavel, termo)" ng-show="variavel.descricao.length > 0 && !editandoTermo">Adicionar</button>
	                		<button class="btn btn-primary btn-block" ng-disabled="formTermo.$invalid" ng-click="salvarTermo()" ng-show="editandoTermo">Salvar</button>                    	
                		</form>
                    </div>                    
                </div>                
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" ng-show="variavelObjetivo.termos.length > 0" style="margin-top: 15px;padding: 0">
                <div class=" col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	Regras dos termos objetivos de {{variavelObjetivo.descricao}} 
                        	<span class="glyphicon glyphicon-eye-open pull-right" data-toggle="modal" data-target="#myModal" ng-click="visualizarCondicoes(variavelObjetivo)"></span>
                    	</div>
                        <table class="table table-striped table-bordered">
                            <tr ng-repeat="termoObjetivo in variavelObjetivo.termos">
                                <td colspan="2">{{termoObjetivo.descricao}}</td>
                                <td class="text-center"><span class="glyphicon glyphicon-pencil" ng-click="editarCondicoes(termoObjetivo)"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-sm-8">
    	            <div class="panel panel-default">
    	            	<div class="panel-heading">Regras para o termo {{termoObjetivo.descricao}}</div>
    	            	<div class="panel-body">
    	            		<form name="formCondicao">
			                    <div ng-repeat="condicao in termoObjetivo.condicoes">
			                        <div class="col-sm-5">
			                            <select required class="form-control" ng-model="condicao.variavel" ng-options="variavel.descricao for variavel in variaveis  | filter:{objetivo: '!Sim'}">
			                                 <option value="">Selecione uma variavel</option>
			                            </select>
			                        </div>
			                        <div class="col-sm-2"><p style="line-height: 44px;" class="text-center">=</p></div>
			                        <div class="col-sm-5">
			                            <select required class="form-control" ng-model="condicao.termo" ng-options="termo.descricao for termo in condicao.variavel.termos">
			                                 <option value="">Selecione um Termo</option>
			                            </select>
			                        </div>
			                        <div class="clearfix"></div>
			                    </div>
	                    		<button class="btn btn-primary btn-block" ng-disabled="formCondicao.$invalid" ng-show="termoObjetivo.condicoes.length > 0" ng-click="adicionarCondicao()">Adicionar Condição</button>
                    		</form>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="variavelObjetivo.termos.length > 0">
        	<div class="col-sm-4"></div>
        	<div class="col-sm-4">
        		<div class="panel panel-default">
        			<div class="panel-heading">Entrada dos dados (crisp) </div>
        			<div class="panel-body">	
        				<form name="formEntrada">
				            <div class="col-sm-6" ng-repeat="variavel in variaveis | filter:{objetivo: '!Sim'}">
				                <input required ng-model="variavel.valorCrisp" ng-required="true" type="text" class="form-control" placeholder="{{variavel.descricao}}"/>
				            </div>
				            <div class="col-sm-12">
				                <button class="btn btn-primary btn-block" ng-disabled="formEntrada.$invalid" ng-click="processar(variaveis)">Processar</button>
				            </div>
				        </form>       	
		            </div>
		        </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Regras</h4>
	      </div>
	      <div class="modal-body">
      		<div ng-repeat="regra in regras">
		      	<h4>{{regra.descricao}}</h4>
		      	<span ng-repeat="linha in regra.linhas" class="indent">
		      		{{linha.condicao}}
		      		<span class="black">{{linha.valor}}</span>
		      	</span>
            </div>
	      </div>
	    </div>
	  </div>
	</div>
</body>

</html>